 body {
   background-image: url("./image/wall.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
} 

.Input{
  margin: 100px 500px;
  border: 1px solid;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left : 30px;
  box-shadow: 0 0 5px #777777;
  background-color: transparent;
}
.editfield{
  margin-left: 40%;
  width: 20%;
  height: 40%;
  margin-top: 3%;
  border: 0px solid;
  border-radius: 10px; 
  padding-top: 25px;
  padding-left: 50px; 
  padding-right: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 5px;
  background-color: transparent;
}

.all{
  margin-top: 2%; 
  margin-left: 40%;
  padding-top: 25px; 
  padding-left: 50px; 
  padding-right: 50px;
  padding-bottom: 30px;
  width: 50%;
  height: 530px;
  box-sizing: border-box;
  box-shadow: 0 0 5px;
  background-color: transparent;
  border: 0px solid;
}
hr {
  border: 1px dotted;
  box-shadow: 0 0 5px;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 25px;
}
 .list{
  margin-top : 2%;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  box-shadow: 0 0 5px;
  background-color: transparent;
  border: 0px solid;
} 
.pbtn{
  float: right;
  margin: 5px;
  margin-top: -20px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  border: 0px solid;
  box-shadow: 0 0 5px #777777;
  background-image: linear-gradient(blueviolet, rgba(0,0,0,.25));
}
.hide{
  display: none;
}
.abc{
  list-style-type: none;
}
.show{
  visibility: visible;
  float: right;
  margin: 2px;
}

.panel{
  padding-top: 15px;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 2%;
  text-align: center;  
  width: 30%;
  height: 78%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 5px;
  background-color: transparent;
  border: 0px solid;
}

.App-header {
  height: 40px;
  padding: 20px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,.25), blueviolet);
}
.check{
  border: none;
  background-color: transparent;
}

input:focus{
  outline: none;
  border-bottom: 2px solid blueviolet;
}

input[type=radio]{
  width: 30px;
  cursor: pointer;
  height: 15px;
}
h2{
  display: inline-block;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.btn {
  float: right;
  margin: -14px 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-image: linear-gradient(blueviolet, rgba(0,0,0,.25));
  box-shadow: 0 0 5px #777777;
  font-size: 15px;
  border: 1px solid #777777;
}
.sbtn {
  float: right;
  margin: -14px 5px;
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  border: 0px solid;
  box-shadow: 0 0 5px #777777;
  background-image: linear-gradient(blueviolet, rgba(0,0,0,.25));
}
#lgbtn{
  margin: -14px 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-image: linear-gradient(rgba(0,0,0,.25), blueviolet);
  box-shadow: 0 0 5px #777777;
  border: 1px solid #777777;
  font-size: 15px;
}

.btnpanel {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  border: none;
  padding: 20px;
  cursor: pointer;
  width : 100%;
  background-image: linear-gradient(blueviolet, rgba(0,0,0,.25));
  
}
.btnpanel:focus {
  outline: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
